Flask==3.0.3
Flask-RESTful==0.3.10
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-storage==2.18.2
mediapipe==0.10.15
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
protobuf==4.25.5
requests==2.32.3
jax==0.4.33
jaxlib==0.4.33
vertexai==1.68.0 
